# Created by pytest automatically.
# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.db-journal

# Virtual environment
venv/
.venv/
env/
ENV/

# Editor configs
.vscode/
.idea/
.DS_Store

# Notebook checkpoints
.ipynb_checkpoints/



